pre,
code,
.code-block,
.highlight pre {
    font-family: "JetBrains Mono", "Fira Code", "Consolas", "Monaco", "Courier New", monospace !important;
    font-size: 0.9em;
}

h4:has(a.headerlink) {
    font-size: 20px;
    font-weight: bold;
}

h5:has(a.headerlink) {
    font-size: 20px;
    font-weight: bold;
}